*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Montserrat', sans-serif;
}

#banner{
    background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url(./img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-bottom: 8rem;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 18rem;
}
.banner-text h1{
    font-size: 6.4rem;
    margin-bottom: 1rem;
    letter-spacing: 1.5;
}
.banner-text p{
    font-size: 2rem;
    font-weight: 500;
}
.banner-btn{
    font-size: 1.6rem;
    margin: 5rem auto 0;
    padding: 1rem; 
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    margin: 0 1rem;
    padding: 1.2rem 2.4rem;
    color: black;
    background-color: #fff;
    border: 0.5px solid  #fff;
    border-radius: 0.5rem;
    font-weight: 500;
}
.banner-btn a:hover{
    border: 0.5px solid  #ca4273;
    border-radius: 0.5rem;
    background-color: #ca4273;
    color:  rgb(255, 255, 255);
}
.sidenav{
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-right: 1rem;
}
nav ul li{
    
    list-style: none;
}
nav ul{
    display: flex ;
    gap: 1rem;
}
nav ul li a{
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    display: block;    
    padding: 1rem 2.5rem;
    color: #fff;
    border-bottom: 1px solid transparent;
}
nav ul li a:hover{
  border-bottom: .5px solid ;
  color: #ca4273;
}
.section-container {
    width: 80%;
    margin: 0 auto;
}
#products{
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 8rem;
}
.product{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2.4rem;
    height: 48rem;
    padding: 2rem 3rem;
    box-shadow: rgba(115, 115, 115, 0.2) 0px 2px 0px 0px, rgba(115, 115, 115, 0.3) 0px 0px 2px 0px;
}
.product ul{
    line-height: 2.5rem;
}
button{
    position: absolute;
    padding: 1rem 1rem;
    color: #fff;
    background-color: #ca4273;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    width: 15rem;
    bottom: 1rem;
}
.photo-product{
    width: 18rem;
    height: 14rem;
}
.list-details{
    font-size: 1.2rem;
}
.cta{
  display: flex;
  justify-content: center;  
}
.cta-content{
 display:flex;
 flex-direction: column;
 justify-content:center;
 gap: 3.2rem;
 padding: 2.4rem;
 font-size: 1.4rem;
}
.cta-image img{
  width: 45rem;
  height: 45rem;
}
.cta-btn{
  font-size: 1.8rem;
  width: 15%;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: #ca4273 ;
  color: #fff;
  text-decoration: none;
}
.cta-btn:hover{
  background-color: #fff;
  border: 3px solid #ca4273;
  color: #ca4273;
  font-weight: 500;
}
.site-footer{
  background-color:#0E0210;
  padding:4.2rem 0 2.4rem;
  font-size:1.6rem;
  line-height:2.4rem;
  color:#737373;
}
.site-footer h6{
  color:#ca4273;
  font-size:1.6rem;
  text-transform:uppercase;
  margin-top: 0.5rem;
  letter-spacing:0.2rem
}
.footer-links{
  padding-left:0;
  list-style:none
}
.footer-links li{
  display:block
}
.footer-links a{
  color:#fff;
  text-decoration: none;
}
.footer-links a:hover{
    color:#ca4273;
    padding-bottom: 0.2rem;
}
.footer-links.inline li{
  display:inline-block
}
.site-footer .social-icons a{
  width:4.2rem;
  height:4.2rem;
  line-height:4.2rem;
  margin-left:6px;
  margin-right:0;
  background-color:#43454e
}
.copyright-text{
  margin-bottom: 2.4rem;
  color: #fff;
}
.first-footer{
    display: flex;
    justify-content: space-around;
    gap: 6.4rem;
    margin-bottom: 1.2rem;
}
.item-footer{
    max-width: 20%;
}
.site-footer .copyright-text,
.site-footer .social-icons{
    justify-content: center;
    text-align:center
}
.social-icons{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li{
  display:inline-block;
  margin-bottom:4px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:1.6rem;
  display:inline-block;
  width:4.4rem;
  height:4.4rem;
  text-align:center;
  margin-right:8px;
  border-radius:50%;
  transition:all 0.3s linear
}
.social-icons a.facebook:hover{
  background-color:#3b5998
}
.social-icons a.twitter:hover{
  background-color:#00aced
}
.social-icons a.instagram:hover{
    background-color:#ea4c89
  }
.social-icons a.linkedin:hover{
  background-color:#007bb6
}


